
Liste des cours

<% @sessions.each do |session| %>
<li> <%= session.start_time.strftime("%m/%d/%Y")%> à <%= session.start_time.strftime("%H:%M")%> |<%= session.course.name %> au <%= session.course.studio %> </li>
<% end %>

<%= link_to 'Show', session_path(session) %>
