
<%= link_to 'Book', new_session_booking_path(session) %>

<div class="container">
  <div class="row">
    <% unless @session.course.photo_url.nil? %>
      <%= cl_image_tag @session.course.photo, height: 250, width: 390, crop: :fill %>
    <% end %>
    <h1> <%= @session.course.name %> </h1>
    <p><%= @session.course.studio %> </p>
    <p><%= @session.start_time.strftime("%a, %e %B") %> <%=@session.start_time.strftime("%H:%M")%> - <%= (@session.start_time + (@session.course.duration * 60)).strftime("%H:%M") %> </p>
    <p>Coach: <%= @session.course.coach %></p>
  </div>
</div>


  <%= @session.course.full_address %>
  <div class="desc">
    <%= @session.course.description %>
  </div>



  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
