<div class="bottom-padding">
  <div class="confirmation-booking">
    <div class="confirmation-booking-back">
    <%= link_to 'x', activities_path%>
    </div>
    <div class="top-padding booking-ok">
    Réservation confirmée !
    </div>

    <div class="confirmation-date-info">
      <p><%= l(@booking.activity.start_time, format: "%A %e %B", locale: 'fr') %></p>
       <p><%= @booking.activity.start_time.strftime("%H:%M") %> - <%= (@booking.activity.start_time + (@booking.activity.course.duration * 60)).strftime("%H:%M") %></p>
    </div>

    <div class="confirmation-location-info top-padding">
      <%= @booking.activity.course.name.upcase  %> <br>
      <%= @booking.activity.course.studio.upcase  %><br><br>
      <i class="fas fa-map-marker-alt"></i> <%= @booking.activity.course.street%>, <%= @booking.activity.course.npa  %> <%= @booking.activity.course.city  %>
    </div>

    <%= link_to allorders_path do %>
    <div id="cont" data-pct="
      <% if @booking.user.credits_amount > 1 %>
       <%=  @booking.user.credits_amount %> crédits restants
       <% else %>
       <%=  @booking.user.credits_amount %> crédit restant
       <% end %>">
      <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
        <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
      </svg>
    </div>
    <% end %>
    <div class="confirmation-user-info">
    <%= @booking.user.first_name.capitalize %> <%= @booking.user.last_name.capitalize %>
    </div>

  </div>
</div>
