
<div class="center-bookings">
  <h1>Mes réservations</h1>
</div>
<div class="large-bottom-padding">
  <div class="tab-wrap">
    <input type="radio" name="tabs" id="tab1" checked>
      <div class="tab-label-content" id="tab1-content">
        <label for="tab1">Passées</label>
          <div class="tab-content">
            <div class="container-booking bottom-padding">
              <div class="row">
                <%   @pastbookings.each do |booking|%>
                  <div class="col-xs-12 md-6">
                    <div class="card-booking-past">
                      <div class="card-hour-booking-past">
                        <div class="start-activity-booking">
                        <%= l(booking.activity.start_time, format: "%d.%m.%y", locale: 'fr') %></div>
                        <div class="end-activity-booking">
                        <%= booking.activity.start_time.strftime("%H:%M")%>
                        </div>
                      </div>
                      <div class="card-body-past">
                        <div class="course-name small-margin-top">
                          <%= booking.activity.course.name.upcase %>
                        </div>
                        <div class="course-studio-booking">
                          <%= booking.activity.course.studio %>
                        </div>
                        <div class="course-address-booking-past">
                          <i class="fas fa-map-marker-alt"></i> <%= booking.activity.course.city %>
                        </div>
                      </div>
                      <div class="kcal-booking-past">
                          <i class="fas fa-fire"></i> <%= booking.activity.course.kcal %> kcal brulées
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tab2" checked>
        <div class="tab-label-content" id="tab2-content">
          <label for="tab2">A venir</label> <div class="notification-box"><span class="notification-count"><%= @comingbookings.count > 0 ? @comingbookings.count : ""%> </span></div>
            <div class="tab-content">
              <div class="container-booking">
                <div class="row">
                  <% @comingbookings.each do |booking|%>
                    <div class="col-xs-12">
                      <div class="card-booking-coming">
                        <div class="card-hour-booking-coming">
                           <div class="start-activity-booking">
                          <%= booking.activity.start_time.strftime("%H:%M")%>
                         </div>
                          <div class="end-activity-booking">
                          <%= (booking.activity.start_time + (booking.activity.course.duration * 60)).strftime("%H:%M") %>
                          </div>
                        </div>
                        <div class="card-body-booking">
                          <div class="course-name">
                            <%= booking.activity.course.name.upcase %>
                          </div>
                          <div class="course-studio-booking">
                            <%= booking.activity.course.studio %>
                          </div>
                          <div class="course-address-booking-coming">
                            <i class="fas fa-map-marker-alt"></i> <%= booking.activity.course.street %>, <%= booking.activity.course.npa %> <%= booking.activity.course.city %>
                          </div>
                        </div>
                        <div class="card-booking-validation">
                          <%= link_to 'Voir', booking_path(booking), class:'btn btn-primary'  %>
                        </div>
                        <div class="card-date-booking-coming">
                          <%= l(booking.activity.start_time, format: "%A %e %B %Y", locale: 'fr') %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <div class="slide-booking"></div>
      </div>
