<div class="confirmation">
  <div class="confirmation-text">
  Je réserve un cours de
  </div>
  <div class="confirmation-course-name">
  <%= @booking.session.course.name %></div>
  <div class="confirmation-course-studio">
   au <%= @booking.session.course.studio %>
  </div>
  <div class="confirmation-date">
  <%= @booking.session.start_time.strftime("%A %e %B") %>
  </div>
  <div class="confirmation-hour">
  à <%= @booking.session.start_time.strftime("%H:%M") %>
  </div>

  <%= link_to 'Back', session_path(session)%>
</div>
