<div class="bottom-padding">
  <div class="confirmation-booking">
    <div class="confirmation-booking-back">
    <%= link_to 'x', bookings_path%>
    </div>
    <div class="top-padding">
    Ma réservation
    </div>

    <div class="confirmation-date-info">
      <p><%= l(@booking.activity.start_time, format: "%A %e %B", locale: 'fr') %></p>
       <p><%= @booking.activity.start_time.strftime("%H:%M") %> - <%= (@booking.activity.start_time + (@booking.activity.course.duration * 60)).strftime("%H:%M") %></p>
    </div>

    <div class="confirmation-location-info top-padding">
      <%= @booking.activity.course.name.upcase  %> <br>
      <%= @booking.activity.course.studio.upcase  %><br><br>
      <i class="fas fa-map-marker-alt"></i> <%= @booking.activity.course.street%>, <%= @booking.activity.course.npa  %> <%= @booking.activity.course.city  %>
    </div>

    <div id="button-background">
      <span class="slide-text"> VALIDER </span>
      <div id="slider">
        <i id="locker" class="material-icons">lock_outline</i>
      </div>
    </div>

    <div class="confirmation-user-info">
    <%= @booking.user.first_name.capitalize %> <%= @booking.user.last_name.capitalize %>
    </div>

  </div>
</div>
