<div class="illustration">
  <%= image_tag "home-illustration.svg" %>
</div>

<div class="home-filter">
  <%= form_tag activities_path, method: :get do %>
    <%= select_tag(:category, options_for_select([
      ['toutes les activités', ''],
      ['du cardio', 'Cardio'],
      ['du renforcement', 'Renforcement'],
      ['des arts martiaux', 'Arts Martiaux'],
      ['Mind & Body', 'Mind & Body'],
      ['de la danse', 'Danse']
    ])) %>

    <%= select_tag(:city, options_for_select([
      ['Lausanne', 'Lausanne'],
      ['Genève', 'Genève'],
      ['Nyon', 'Nyon'],
      ['Morges', 'Morges'],
      ['Rolle', 'Rolle'],
      ['Gland', 'Gland']
    ])) %>

    <%= text_field_tag 'date', nil, class: 'flatpickr-input text-center', value: l(Date.today, format: '%A %e %B', locale: 'fr') %>

    <div class="btn-filter">
      <%= button_tag "c'est parti !" %>
    </div>
  <% end %>
</div>
