
<div class="navbar-fixed-bottom navbar">
  <!-- Logo -->
  <div>
    <% if user_signed_in? %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "menu-logo-picto.svg" %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.svg" %>
      <% end %>
    <% end %>
  </div>
  <div class="navbar-links">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <div>
        <%= link_to activities_path, class: "navbar-item" do %>
          <%= image_tag "menu-calendar-icn.svg" %>
          <p class="activities-txt">Activités</p>
        <% end %>
      </div>
      <div>
        <%= link_to bookings_path, class: "navbar-item" do %>
          <%= image_tag "menu-bookings-icn.svg" %>
          <p>Réservations</p>
          <% if @bookingscount > 0 %>
          <div class="notification-box-booking notification-count-booking"> <%= @bookingscount %> </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= link_to allorders_path, class: "navbar-item" do %>
          <%= image_tag "menu-credits-icn.svg" %>
          <p>Crédits</p>
        <% end %>
      </div>
      <div>
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item" do %>
          <%= image_tag "menu-logout.svg" %>
          <p class="logout-txt">Quitter</p>
        <% end %>
      </div>
      <!-- Login link (when logged out) -->
    <% else %>
    <div>
      <%= link_to "Login", new_user_session_path, class: "navbar-item navbar-link" %>
    </div>
      <div>
        <span>:</span>
      </div>
      <div>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-item navbar-link" %>
      </div>
    <% end %>
  </div>
</div>

