
    <div class="container-index">
      <div class="row">
        <%@activities.each do |activity|%>
          <div class="col-xs-12">
            <div class="card">
              <div class="photo">
              <% unless activity.course.photo_url.nil? %>
              <%= cl_image_tag activity.course.photo, height: 100, width: 100, crop: :fill%>
              <% end %>
              </div>
              <div class="card-body">
                <div class="start-activity">
                <%= activity.start_time.strftime("%H:%M")%> -
                <%= (activity.start_time + (activity.course.duration * 60)).strftime("%H:%M") %>
                </div>
                <div class="course-name">
                  <%= link_to activity.course.name.upcase, activity_path(activity) %>
                </div>
                <div class="course-studio">
                  <%= activity.course.studio %>
                </div>
                <div class="course-address">
                  <i class="fas fa-map-marker-alt"></i> <%= activity.course.street %>, <%= activity.course.npa %> <%= activity.course.city %>
                </div>
                <div class="card-icon-bottom">
                  <div class="heart padding-right">
                   ♥️ <%= activity.course.likes %> likes
                  </div>
                  <div class="heart">
                     🔥<%= activity.course.kcal %>kcal
                  </div>
                </div>
              </div>
            </div>
            <div class="wallet">
              <%= activity.course.credits_cost %>💰
            </div>
            <div class="category">
              <div class="category-<%=((activity.course.category.downcase).delete(" "))%>"><i class="fas fa-tag"></i>
              <%= activity.course.category.upcase %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
