<!-- <ul class="tab-group">
        <li class="tab active"><a href="#list">Liste</a></li>
        <li class="tab"><a href="#map">Map</a></li>
      </ul> -->


<!--   <div class="tab-content"> -->
    <div class="container">
      <div class="row">
        <%@activities.each do |activity|%>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
              <div class="category">
                <div class="category-<%=((activity.course.category.downcase).delete(" "))%>"><i class="fas fa-tag">  </i>
                <%= activity.course.category.upcase %></div>
              </div>
              <div class="card-hour">
                <div class="start-activity">
                <%= activity.start_time.strftime("%H:%M")%></div>
                <div class="end-activity">
                <%= (activity.start_time + (activity.course.duration * 60)).strftime("%H:%M") %>
                </div>
              </div>
              <div class="card-body">
                <div class="course-name">
                  <%= link_to activity.course.name.upcase, activity_path(activity) %>
                </div>
                <div class="course-studio">
                  <%= activity.course.studio %>
                </div>
                <div class="course-address">
                  <%= activity.course.npa %> <%= activity.course.city %>
                </div>
              </div>
              <div class="card-icon">
                <div class="heart">
                  <%= image_tag("likes-icn.svg", height: 15, width: 15) %> <%= activity.course.likes %>
                </div>
                <div class="wallet">
                  <%= image_tag("coin-icn.svg", height: 15, width: 15) %> <%= activity.course.credits_cost %>
                </div>
                <div class="location">
                  <%= image_tag("pointer-icn.svg", height: 15, width: 15) %>  200m
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<!--   </div> -->
