<div class="sub-header ">
  <div class="swipe-tabs">
    <div class="swipe-tab">One</div>
    <div class="swipe-tab">Two</div>
    <div class="swipe-tab">Three</div>
    <div class="swipe-tab">Four</div>
    <div class="swipe-tab">Five</div>
  </div>
</div>
<div class="main-container">
  <div class="swipe-tabs-container ">
    <div class="swipe-tab-content">Tab 1</div>
    <div class="swipe-tab-content">Tab 2</div>
    <div class="swipe-tab-content">Tab 3</div>
    <div class="swipe-tab-content">Tab 4</div>
    <div class="swipe-tab-content">Tab 5</div>
  </div>
</div>





    <div class="container-index">
      <div class="row">
        <%@activities.each do |activity|%>
          <div class="col-xs-12">
            <div class="card">
              <div class="photo">
              <% unless activity.course.photo_url.nil? %>
              <%= cl_image_tag activity.course.photo, height: 100, width: 100, crop: :fill%>
              <% end %>
              </div>
              <div class="card-body">
                <div class="start-activity">
                <%= activity.start_time.strftime("%H:%M")%> -
                <%= (activity.start_time + (activity.course.duration * 60)).strftime("%H:%M") %>
                </div>
                <div class="course-name">
                  <%= link_to activity.course.name.upcase, activity_path(activity) %>
                </div>
                <div class="course-studio">
                  <%= activity.course.studio %>
                </div>
                <div class="course-address">
                  <%= image_tag("pointer-icn.svg", height: 15, width: 15) %>
                  <%= activity.course.street %>, <%= activity.course.npa %> <%= activity.course.city %>
                </div>
                <div class="card-icon-bottom">
                  <div class="heart padding-right">
                    <%= image_tag("likes-icn.svg", height: 15, width: 15) %>
                    <%= activity.course.likes %> likes
                  </div>
                  <div class="heart">
                    <%= image_tag("kcal-icn.svg", height: 15, width: 15) %>
                    <%= activity.course.kcal %>kcal
                  </div>
                </div>
              </div>
            </div>
            <div class="wallet">
              <%= activity.course.credits_cost %>
              <%= image_tag("coin-icn.svg", height: 15, width: 15) %>
            </div>
            <div class="category">
              <div class="category-<%=((activity.course.category.downcase).delete(" "))%>">
              <%= activity.course.category.upcase %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
