<div class="card-course-head">
  <% unless @activity.course.photo_url.nil? %>
   <%= cl_image_tag(@activity.course.photo) %>
  <% end %>
  <div class="back-activities">
    <%= link_to activities_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
<!--   <div class="card-course-coach">
    <p><i class="far fa-user"></i> <%= @activity.course.coach %></p>
  </div> -->
</div>
<div class="container show-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-course">
        <div class= "card-title-course">
          <h1><%= @activity.course.name %></h1>
          <p><%= @activity.course.studio %></p>
          <!-- <p># @activity.course.category %></p> -->
        </div>
        <div class="card-course-hour">
          <p><%= image_tag("calendar-icn.svg", height: 20, width: 20) %>
            <%=l(@activity.start_time, format: "%A %e %B", locale: 'fr') %></p>
          <p><%=@activity.start_time.strftime("%H:%M")%> - <%= (@activity.start_time + (@activity.course.duration * 60)).strftime("%H:%M") %>
          </p>
        </div>
        <div class="card-course-icon">
          <p>
            <%= image_tag("likes-icn.svg", height: 15, width: 15) %> <%= @activity.course.likes %> likes
          </p>
          <p>
            <%= image_tag("kcal-icn.svg", height: 15, width: 15) %>
            <%= @activity.course.kcal %> kcal
          </p>
          <p>
            <i class="far fa-clock"></i>
            <%= @activity.course.duration %> min
          </p>
        </div>
        <div class="card-course-infos">
          <div class="small-padding">
            <%= image_tag("info-icn.svg", height: 18, width: 18) %>
            INFOS PRATIQUES
          </div>
          <%= raw @activity.course.infos %>
        </div>
        <div class="card-course-desc">
          <div class="small-padding">
            <%= image_tag("comment-icn.svg", height: 20, width: 20) %>
            A PROPOS
          </div>
          <p>
            <%= @activity.course.description %>
          </p>
        </div>
        <div class="card-course-location small-padding">
          <%= image_tag("pointer-icn.svg", height: 20, width: 20) %>
          LIEU <br>
          <%= @activity.course.full_address %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 200px;
  margin-bottom: 60px"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
